.banner-container {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 90%;
    margin: 5% auto;

    font-family: "Poppins", sans-serif;

    &_presentation {
        display: flex;
        flex-direction: column;

        & .title {
            font-size: 3.1rem;
            padding: 0;
            margin: 0;
        }

        & .typed {
            height: 20px;
        }

        & h4 {
            color: gray;
            font-weight: 900;
        }

        & .banner-icons {
            display: flex;
            flex-direction: row;

            & li {
                list-style: none;
                margin: 0 5px;
            }

            & .button-contact {
                padding: 10px;
                text-decoration: none;
                background: black;
                border-radius: 20px;
                color: white;
            }
        }

        &_image {
            width: 100% !important;
            height: 100%;
            margin-top: 10px;

            & img {
                margin-left: 3rem;
                animation: move-banner 2s ease-in-out infinite alternate;
                position: relative;
            }
        }
    }
}


@media (min-width: 1000px) {
    .banner-container {
        flex-direction: row;
        justify-content: space-between;
        font-family: "Poppins", sans-serif;

        &_image {
            width: 80%;

            & img {
                margin-left: 3rem;
                animation: move-banner 2s ease-in-out infinite alternate;
                position: relative;
            }
        }
    }
}

@keyframes move-banner {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-3%);
    }
}
