.container {
    height: 100%;
    display: grid;
    grid-template-areas:
        "navbar navbar navbar"
        "banner banner banner"
        "about about about"
        "skill skill skill"
        "project project project"
        "contact contact contact";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 1fr 1fr 1fr 1fr 1fr;
}

.home_navbar {
    grid-area: navbar;
    position: sticky;
}

.home_banner {
    grid-area: banner;
    height: 90vh;
}

.home-about {
    grid-area: about;
    height: 90vh;
}

.home_skill {
    grid-area: skill;
    height: 90vh;
}

.home_project {
    grid-area: project;
    height: 90vh;
}

.home_contact {
    grid-area: contact;
    height: 90vh;
}
