:root {
    --light-color: #fafafa;
    --dark-color: #111;
    --light-text: white;
    --dark-text: black;
}

.container {
    display: grid;
    grid-template-areas:
        "navbar navbar navbar"
        "banner banner banner"
        "skill skill skill"
        "soft soft soft"
        "project project project"
        "contact contact contact";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.1fr;
    background: var(--light-color);
}

.light-theme {
    background: var(--light-color);
}

.dark-theme {
    background: var(--dark-color);
    color: whitesmoke;
}

.home_navbar {
    grid-area: navbar;
    height: 10vh;
}

.home_banner {
    grid-area: banner;
}

.home_skill {
    grid-area: skill;
    margin-top: 3rem;
}

.home_soft-skill {
    grid-area: soft;
    margin-top: 3rem;
}

.home_project {
    grid-area: project;
}

.home_contact {
    grid-area: contact;
}


@media (min-width:800px){
    .home_soft-skill {
        margin-top: 5rem;
    }
}

// @media screen and (min-height: 800px) {
//     .home_soft-skill {
//         height: 180vh;
//     }
//     .home_project {
//         grid-area: project;
//         height: 70vh;
//     }
// }

// @media screen and (min-height: 880px) {
//     .home_soft-skill {
//         height: 175vh;
//     }
// }

// @media screen and (min-width: 360px) {
//     .home_soft-skill {
//         height: 160vh;
//     }
// }

// @media (max-height:750px) and (min-width: 360px) {
//     .home_soft-skill {
//         height: 230vh;
//     }
// }

// @media screen and (min-width: 400px) {
//     .home_soft-skill {
//         height: 230vh;
//     }
// }

// @media screen and (min-width: 600px) {
//     .home_banner {
//         height: 230vh;
//     }

//     .home_skill {
//         height: 90vh;
//     }

//     .home_soft-skill {
//         height: 70vh;
//     }

//     .home_project {
//         height: 90vh;
//     }
// }

// @media screen and (min-width: 500px) {
//     .home_soft-skill {
//         height: 130vh;
//     }
// }

// @media screen and (min-width: 560px) {
//     .home_soft-skill {
//         height: 125vh;
//     }
// }

// @media screen and (min-width: 760px) {
//     .home_soft-skill {
//         height: 70vh;
//     }
// }

// @media screen and (min-width: 763px) {
//     .home_soft-skill {
//         height: 230vh;
//     }
// }

// @media screen and (min-width: 800px) {
//     .home_soft-skill {
//         height: 110vh;
//     }
// }

// @media (min-width: 900px) {
//     .home_soft-skill {
//         height: 60vh;
//     }
// }

// @media (min-width: 1000px) {
//     .home_soft-skill {
//         height: 50vh;
//     }
// }

// @media (min-hight: 500px) and (min-width: 1500px) {
//     .home_soft-skill {
//         height: 160vh;
//     }
// }

// @media screen and (min-width: 2000px) {
//     .home_soft-skill {
//         height: 80vh;
//     }
// }

// @media screen and (min-width: 2500px) {
//     .home_soft-skill {
//         height: 70vh;
//     }
// }
