::root {
  --light-color: #fafafa;
  --dark-color: #111;
}

body {
  margin: 0;

}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: black #fafafa;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #fafafa;
}

*::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  border: 3px solid #fafafa;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Over the Rainbow";
  src: local("OvertheRainbow"),
    url(./assets/fonts/over_the_rainbow/OvertheRainbow.ttf) format("truetype");
}

@keyframes cambiar {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
